body{
    text-align: center;
    background: linear-gradient(blue 50%,red 70%,green 20%);
    border: groove;
    border-bottom-color: black;
}
h1{
    text-decoration: underline;
    text-emphasis-color: black;
    font-family: sans-serif;
}